<div class="colocacion_principal color_fondo">
    <h2>Un poco sobre mi</h2>
    <h4>Trabajador, constante y con inventiva para encontrar soluciones ante los problemas. Asi es como me describo y creo que la gente que ha trabajado conmigo puede decir lo mismo
    </h4>
    <h4>
        Tengo varios titulos muy diversos: El primero que estudie fue el de ingeniero tecnico de Obras publicas, especialidad construcciones civiles. Este terminé compaginando un trabajo de 8 horas en una empresa para costearmelos y no ser una carga familiar.
    </h4>
    <h4>Sin dejar de trabajar, continue con el ciclo formativo presencia de Sistemas de Telecomunicacion e Informaticos y alli encontre el gusto a la informatica y a la configuracion de equipos(Windows,Linux, routers,cableado.</h4>
    <h4>Al ver que en el futuro la programacion sera uno de los temas indispensables para la mayoria de la gente aprendi por mi cuenta conceptos de Java, Html y Javascript. a lo que decidi que tendria que asentar estos conceptos de una forma mas seria por eso decidi
        comenzar el curso de Desarrollo de aplicaciones Multiplataforma de forma Online</h4>
    <h3>Espero que os guste la aplicación</h3>

</div>