<nav class="navbar navbar-inverse menu enlaces">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" RouterLinkActive="active">
                <li><a class="tamañoTexto" [routerLink]="('Presentacion')"><span class="saludo"></span>Presentacion</a></li>
                <li><a class="tamañoTexto" [routerLink]="('datos-personales')"><span class="glyphicon glyphicon-home"></span>Datos Personales</a></li>
                <li><a class="tamañoTexto" [routerLink]="('estudios')"><span class="glyphicon glyphicon-education"></span>Estudios</a></li>
                <li><a class="tamañoTexto" [routerLink]="('experiencia')"><span class="glyphicon glyphicon-briefcase"></span>Experiencia</a></li>
                <li><a class="tamañoTexto" [routerLink]="('seleccion')"><span class="glyphicon glyphicon-education"></span>Conocimientos</a></li>
                <li><a class="tamañoTexto" [routerLink]="('aptitudes')"><span class="glyphicon glyphicon-flag"></span>Aptitudes</a></li>

                <li><a [routerLink]="('contacto')"><span class="glyphicon glyphicon-user"></span> Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>