@media(min-width:760px) {
    .colocacion_principal {
        margin-left: 28%;
        padding-right: 20%;
    }
}

@media(max-width:760px) {
    .colocacion_principal {
        margin-left: 5%;
        margin-right: 5%;
    }
}

img.pequeña {
    width: auto;
    height: 150px;
}

.card-fixed-height {
    /* Establece una altura fija que sea suficiente para el contenido más grande */
    height: 450px; 
    
}

.card-style{
    background-color: rgb(202, 218, 228);
}