<div class="row colocacion_principal  ">
    <div class="col-sm-6" *ngFor="let datosestudio of estudios">
        <div class="card card-block bg-warning">
            <img class="card-img-top pequeña center  img-fluid img-thumbnail" src="{{datosestudio.imagen}}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title lead">{{datosestudio.titulo}}</h4>
                <p class="card-text lead">{{datosestudio.lugar}}</p>
                <p class="card-text">Años:{{datosestudio.rango}}</p>
                <p class="card-text">Nota:<strong>{{datosestudio.nota}}</strong></p>
            </div>
        </div>
    </div>
</div>